<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TodoMVC-Vue</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
		<script src="node_modules/vue/dist/vue.min.js"></script>
	</head>
	<body>
		<div id="app">
			<section class="todoapp">
				<header class="header">
					<h1>todos</h1>
					<input v-on:keydown.enter="handleNewTodoKeyDown" class="new-todo" placeholder="What needs to be done?" autofocus>
				</header>
				<!-- This section should be hidden by default and shown when there are todos -->
				<section class="main">
					<input @click="handleToggleAllClick" id="toggle-all" class="toggle-all" type="checkbox">
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						<!-- These are here just to show the structure of the list items -->
						<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
						<li v-bind:class="{completed:item.completed,editing:currentEditing === item}" v-for="(item,index) in todos" >
							<div class="view">
								<!--可以使用属性绑定，也可以使用v-model-->
								<!--<input class="toggle" type="checkbox" v-bind:checked="item.completed">-->
								<input class="toggle" type="checkbox" v-model="item.completed">
								<label @dblclick="handleGetEditingDblClick(item)">{{item.title}}</label>
								<button @click="handleRemoveTodoClick(index)" class="destroy"></button>
							</div>
							<!--v-bind:value="item.title"-->
							<input @keydown.enter="handleSaveTodoOnBlur" @blur="handleSaveTodoOnBlur"  class="edit" v-model="item.title" >
						</li>
					</ul>
				</section>
				<!-- This footer should hidden by default and shown when there are todos -->
				<!--控制footer的显示与否-->
				<footer v-if="todos.length"  class="footer">
					<!-- This should be `0 items left` by default -->
					<span class="todo-count"><strong>{{remainingCount()}}</strong> item left</span>
					<!-- Remove this if you don't implement routing -->
					<ul class="filters">
						<li>
							<a class="selected" href="#/">All</a>
						</li>
						<li>
							<a href="#/active">Active</a>
						</li>
						<li>
							<a href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button class="clear-completed">Clear completed</button>
				</footer>
			</section>


		</div>

		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://ooyhao.github.io">ouYangHao</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!--<script src="node_modules/todomvc-common/base.js"></script>-->
		<script src="js/app.js"></script>
	</body>
	<script>
		var todos = [
			{
				id:1,
				title:'抽烟',
				completed:true
			},{
				id:2,
				title:'喝酒',
				completed:false
			},{
				id:3,
				title:'烫头',
				completed:false
			}
		];
		var app = new Vue({
			el:'#app',
			data:{
				todos:todos,
				currentEditing:null

			},
			methods:{
				handleNewTodoKeyDown:function(e){
					var todos = this.todos;
					var id = todos[todos.length-1]?todos[todos.length-1].id+1:1;
					var target = e.target;
					var value = target.value;
					var todo = {
						id:id,
						title:value,
						completed:false
					}
					this.todos.push(todo);
					target.value = '';
				},
				handleToggleAllClick:function(e){
					var checked = e.target.checked;
					this.todos.forEach(function(item){
						item.completed=checked;
					});
				},
				handleRemoveTodoClick:function(index){
					this.todos.splice(index,1);
				},
				handleGetEditingDblClick:function(item){
					this.currentEditing = item;
				},
				handleSaveTodoOnBlur:function(){
					this.currentEditing = null;
				},
				remainingCount:function(){
					return this.todos.filter(function(todo){
						return !todo.completed;
					}).length;
				}
			}
		});
	</script>
</html>
